.weather-app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container {
    width: 400px;
    height: 75vh;
    min-height: 500px;
    background-color: var(--blue-2);
    border-radius: 20px;
    box-shadow: 10px 10px 10px var(--shadow-dark);
    .upper-data {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 50%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      img {
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
      .weather-data {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--shadow-dark);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .location {
          color: var(--white);
          text-align: center;
          font-size: 1.2em;
        }
        .temperature {
          color: var(--white);
          text-align: center;
          font-size: 4em;
          font-weight: 900;
        }
      }
    }
    .lower-data {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 50%;
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
      padding: 1em;
      display: flex;
      flex-direction: column;
      .more-info-label {
        color: var(--white);
      }
      .more-info-container {
        flex: 1;
        background-color: var(--shadow-light);
        border-bottom-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .info-block {
          width: 50%;
          display: flex;
          flex-direction: row;
          .info-block-label {
            width: 50%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            img {
              width: 1.6em;
            }
            span {
              color: var(--white);
              font-size: 0.8em;
            }
          }
          .info-block-value {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            color: var(--white);
          }
        }
      }
    }
  }
  .search {
    margin-bottom: 1em;
    text-align: center;
    input {
      background-color: var(--shadow-light);
      outline: none;
      border: 2px solid #434343;
      border-radius: 20px;
      padding: 1em;
      color: #232323;
      font-size: 0.8em;
      text-align: center;
    }
  }
}
